.jumbotron {
  background-color: red;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 0px;
}
.tarjeta {
  margin-top: 20px;
  margin-bottom: 0px;
  flex: 1 200px;
}
.button {
  align-items: end;
  border-radius: 0px;
}
footer {
  margin-top: 20px;
  background-color: #33658A;
  padding-left: 40px;
  color: #f0f0f0;
}
a {
  color: #f0f0f0;
}
a:visited {
  color: #d0d0d0;
}
.icono-padding {
  padding-right: 10px;
}
